body{
    text-align: center;
    padding-top: 35vh;
}

h1{
    color: rgb(255, 98, 124) ;
    font-size: 50px;
    font-family: cursive;
}

.btn{
    border-radius: 50px;
    border: solid 2px rgb(255, 98, 124);
    background-color: rgb(255, 190, 201);
    color: rgb(255, 98, 124);
    width: 200px;
    font-size: 50px;
    font-family: cursive;
}

button{
   margin: 0 10px
}
